@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.15;
  }
}

.animate-pulse {
  animation: pulse 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Ajout de styles pour améliorer la lisibilité */
.text-input {
  @apply bg-gray-700 text-white placeholder-gray-400 border-gray-600 focus:border-gray-500;
}

.text-label {
  @apply text-gray-300 font-medium;
}

/* Styles pour le calendrier */
.react-calendar {
  @apply bg-gray-800 text-white border-gray-500;
}

.react-calendar__tile {
  @apply text-gray-300 hover:bg-gray-600 hover:text-white;
}

.react-calendar__tile--active {
  @apply bg-gray-600 text-white;
}

.react-calendar__tile--now {
  @apply bg-gray-700 text-gray-300;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 10%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 50%;
    --accent: 0 0% 90%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 0% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 0 0% 0%;
    --chart-1: 0 0% 0%;
    --chart-2: 0 0% 20%;
    --chart-3: 0 0% 40%;
    --chart-4: 0 0% 60%;
    --chart-5: 0 0% 80%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 90%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 90%;
    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 0% 90%;
    --primary-foreground: 0 0% 10%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 90%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 0% 50%;
    --destructive-foreground: 0 0% 90%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 80%;
    --chart-1: 0 0% 90%;
    --chart-2: 0 0% 70%;
    --chart-3: 0 0% 50%;
    --chart-4: 0 0% 30%;
    --chart-5: 0 0% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}